<div class="row nested-fields justify-content-center align-items-center">
  <div class="col-md-3">
  <%= f.input :sensor_number %>
  </div>
  <div class="col-md-3">
  <%= f.input :phase %>
  </div>
  <div class="col-md-3">
  <%= f.input :chain %>
  </div>
  <div class="col-md-3">
  <%= link_to_remove_association "Удалить", f %>
  </div>
</div>
