<div class="container">
  <div class="row nested-fields justify-content-center align-items-center border border-white rounded mt-1">
    <div class="col-md-3">
      <%= e.input :free_weight, label: 'Сухой провод' %></div>
    <div class="col-md-3">
      <%= e.input :detection_limit, label: 'Обнаружение' %></div>
    <div class="col-md-3">
      <%= e.input :warning_limit, label: 'Тревога'  %></div>
    <div class="col-md-3">
      <%= e.input :alarm_limit, label: 'Опасность'  %></div>
  </div>
</div>

