<div class="row nested-fields justify-content-center align-items-center border  border-primary rounded mt-1">
  <%= e.input :free_weight %>
  <%= e.input :detection_limit %>
  <%= e.input :warning_limit %>
  <%= e.input :alarm_limit %>
</div>

