<div class="row nested-fields justify-content-center align-items-center border  border-primary rounded mt-1">
  <%= s.input :sensor_number %>
  <%= s.input :phase %>
  <%= s.input :chain %>

  <%= link_to_remove_association "Удалить", s %>
</div>
