<div class="row">
  <div class="col col-md-6 offset-md-3">
    <% @posts.each do |post| %>
      <div id="post" class="border border-primary rounded mt-1 text-center">
        <%= link_to post_path(post) do %>
          <strong>Линия</strong> <%= post.line_name %> <strong>опора</strong> <%= post.num_tower %> 
      <% end %>
      </div>
    <% end%>
  </div>
</div>
<div class="row">
  <div id="links" class="col col-md-6 offset-md-3 mt-1">
    <div class="center-block">
      <%= link_to 'Новый пост', new_post_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
