<div class="row mt-2">
  <div class="col-md-4 border round">
    <p>Placeholder for image</p>
  </div>
  <div class="col-md-7 border round">
    <div id="post">
      Линия <%= @post.line_name %>
      Опора <%= @post.num_tower %>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-5 border round">
    <p>Placeholder for force_sensors</p>
  </div>
  <div class="col-md-6 border round">
    <p>Placeholder for temperature_sensors</p>
  </div>
</div>
<div class="row mt-2">
  <%= render 'links' %>
</div>

